{% extends 'base.html' %}
{% block content %}

<h1>Cleaning Product List</h1>

{% for cleaning_product in cleaning_product_list %}
  <a href="{% url 'cleaning_products_detail' cleaning_product.id %}">
    <div class="card">
        <div class="card-content">
            <span class="card-title">{{ cleaning_product.name }}</span>
            <p>Description: {{ cleaning_product.description|linebreaks }}</p>
            <p>Price: ${{ cleaning_product.price }}</p>
        </div>
    </div>
  </a>
{% endfor %}

{% endblock %}